[2019-02-08 23:02] MasterOfTheTiger opened #1 "Official Beta release."
Maybe you should finish up a couple of things and we can make an official bet 0.1.0 release. :-)

By thw way here is a bit more about matrix. It is a chat protocol that different apps use. Riot is the most popular of them. It is a chat app like Discord,Skype etc. https://riot.im/app my account is @mott:matrix.org

[2019-02-08 23:03] MasterOfTheTiger commented on #1
@pufflegamerz

[2019-02-08 23:13] petabyt commented on #1
Ok. I was thinking about finishing up the search function. I might finish the settings page another time.

[2019-02-08 23:21] MasterOfTheTiger commented on #1
Whoops it's @ mott:matrix.org (without the space).it's case sensitive.

[2019-02-08 23:26] petabyt commented on #1
You may want to delete https://github.com/heb12/Heb12Mobile
and archive https://github.com/heb12/heb12-android/

[2019-02-08 23:27] MasterOfTheTiger commented on #1
Will do.

[2019-02-09 16:31] petabyt opened #3 "Planned Additions/Fixes for 0.1.0"
- [x] Add a few more translations
- [x] Add themes
- [x] Finish search function
- [x] Reposition the Random button
- [x] Add verse of the day
- [x] Add a mobile view to the website (not really related to the app)
- [x] Speed improvement
- [x] Bookmarks
- [x] Redesign the sidebar
- [ ] Add swiping to the sidebar
- [x] Make link/button to go to verse in VOTD
- [x] Verse popup shows when trying to cl

[2019-02-10 01:51] MasterOfTheTiger commented on #3
Can you add instructions in the README for development instructions? Like setting it up in Android Studio.

[2019-02-10 02:44] petabyt commented on #3
I was thinking about doing something like that in the wiki page. https://github.com/heb12/heb12-mobile/wiki

[2019-02-10 02:58] MasterOfTheTiger commented on #3
@pufflegamerz Maybe, or maybe a development.md or something. We need something in a better place than the wiki, because it needs to be downloaded when someone clones the repo.

[2019-02-10 02:59] MasterOfTheTiger commented on #3
Either way, it should be added.

[2019-02-13 01:05] petabyt commented on #3
I think the app is ready to be released. I've fixed most of the major problems. Tell me if you find any bugs.

[2019-02-13 01:19] MasterOfTheTiger commented on #3
Sorry. But I think we need more translations for more people to accept it. Don't you think? Maybe we should release the app as version 0.1.0 (following semantic versioning) now.

[2019-02-13 02:16] petabyt commented on #3
I was hesitant about adding more translations, because it might make the app slower, and it already takes a while to load. What translations should I add? I don't see myself using more than 2.

[2019-02-14 00:15] MasterOfTheTiger commented on #3
Okay. We need a better solution then. Can we load them into RAM only after they are selected?

[2019-02-14 00:22] petabyt commented on #3
I just figured out a way to load the bible files only when a new translation is selected. I tried to do it before, and it didn't work. I guess I did something different and now it functional.

[2019-02-15 03:05] MasterOfTheTiger commented on #3
Another few things which need to be done:

- [x] Fix KJV 2000 verse selection (I can't get it to select the right verse for some reason)
- [x] Support verse selection in NET
- [x] Fix "next" and "previous" for KJV 2000 when next or previous is different book.

You should be able to reproduce all those issues. I found them in the 13th's version of the app. So you may have fixed some.

Here are some

[2019-02-15 05:10] MasterOfTheTiger commented on #3
Not sure you can do much about this, but it would be pretty useful to be able to use the up and down arrow keys on an Android hardware keyboard to move up and down on the Bible passage.

[2019-02-15 05:11] MasterOfTheTiger commented on #3
Another thing we should do before the new version is released is the ability to easily compare versions in the popup. You can decide the best way to impliment it.

[2019-02-15 21:17] petabyt commented on #3
Ok. I'll look into the issues. About the android keyboard part, are you talking about an external keyboard?

[2019-02-16 01:51] MasterOfTheTiger commented on #3
Yes I am. It isn't a big deal, but I was trying to scroll down with the arrow keys and it didn't works. Kinda odd for a web based app when you think about it.

Another question is, how hard would this app be to translate? Do you use external Android strings?

[2019-02-16 01:54] MasterOfTheTiger commented on #3
Another thing is, could you possibly be more descriptive in your commit messages? That's kinda important for both other contributors and for looking back at code later.

[2019-02-16 01:59] MasterOfTheTiger commented on #3
Another bug:
- When clicking previous at chapter 1 of James, it goes to Hebrews 5 instead of 13 on the ASV translation.

[2019-02-16 02:03] MasterOfTheTiger commented on #3
Ouch. The NET seems to be entirely broken. It says "undefined" where the Scripture should be.

[2019-02-16 02:31] petabyt commented on #3
Press next, it should work.

[2019-02-16 02:42] petabyt commented on #3
I attached a keyboard to my phone and the scrolling with arrow keys worked.

[2019-02-16 03:49] MasterOfTheTiger commented on #3
Oh, I understand now. It kinda works like TAB  by selecting all of the verse numbers. The NET still doesn't work, and the previous button should be fixed. It is entirely inconsistent.

[2019-02-16 20:17] petabyt commented on #3
I fixed some of the issues. The NET should work now.

[2019-02-18 02:27] petabyt commented on #3
I kinda want to make a dedicated website for Heb12 Mobile, because the one we have right now just looks a little plain.

[2019-02-18 22:37] MasterOfTheTiger commented on #3
Okay. You can do that. Put it in a gh-pages branch

[2019-02-20 01:51] petabyt commented on #3
I put it in the `docs` directory. [https://heb12.ml/heb12-mobile/](https://heb12.ml/heb12-mobile/) Do you think it looks good? I will definitely change it a lot later on.

[2019-02-21 00:49] MasterOfTheTiger commented on #3
Awesome! I like it.

By the way, how can I help with Heb12 Mobile? What do you need me to do?

[2019-02-21 00:51] MasterOfTheTiger commented on #3
And how does the verse of the day code work?

[2019-02-21 01:45] petabyt commented on #3
Thanks! The side menu definitely needs some touching up, and the online NET translation css needs some work. The verse of the day comes from the Bible Labs API. http://labs.bible.org/api/?passage=votd

[2019-02-21 02:13] MasterOfTheTiger commented on #3
@pufflegamerz If I have a chance I will work on it. We need to do as much work as we can in the next week. Hopefully we can publish it on Google Play within a week (at least some kind of beta). Then later F-Droid as well.

[2019-02-21 20:34] petabyt commented on #3
I'm pretty sure there is a $25 fee to get a developer account on Google Play. The Amazon App store is free though.

[2019-02-21 21:19] MasterOfTheTiger commented on #3
Yeah. I know. I might see about paying it if I can.

I'll see about putting it in the Amazon app store. F-Driod is also free but can be cumbersome.

[2019-02-21 21:31] petabyt commented on #3
You don't have to.  I have an Amazon Developer account where I published a couple of apps a couple of years ago.

[2019-02-22 00:19] MasterOfTheTiger commented on #3
@pufflegamerz. Okay. But to be honest, I would like to have access to it somehow. Because I am the owner of Heb12. Of course you are the lead (and only) developer of Heb12 Mobile, so I am fine with you publishing it. Once we agree on the release of 0.1.0 you can publish it.

[2019-02-25 02:11] petabyt commented on #3
Could I make a folder in the heb12.github.up repository named Mobile so I can put the website in it? The code and website probably shouldn't be in the same repository.

[2019-02-25 05:26] MasterOfTheTiger commented on #3
Yes. That is totally fine.

[2019-03-05 00:55] petabyt opened #5 "Combine Highlighting Menu and Verse Popup"
The menu popup and the highlighting verse are both a little confusing. I'm not sure how good they will look combined, but I think it might be a good idea.

[2019-03-05 07:23] MasterOfTheTiger commented on #5
Do it more like YouVersion's.

[2019-03-07 02:36] petabyt commented on #5
I made a couple of changes. It's still a little hard to tap on the little number, but having everything in 1 popup is very convenient.

[2019-03-07 07:06] MasterOfTheTiger commented on #5
How about you simply tap on the verse like you had before. But do that for everything.

[2019-03-08 12:48] MasterOfTheTiger opened #6 "Decrease number of files in prerelease"
A git repository is not supposed to be a hosting solution. How about you have one zipped file called "prerelease.zip" with the apk in it, and update that zip instead of adding a new one. Also remove all the old zips. This will make it much easier for anyone trying to clone the repo.

[2019-03-08 21:48] petabyt commented on #6
Will do.

[2019-03-09 15:41] #5 closed, assigned to nobody

[2019-03-09 15:51] MasterOfTheTiger commented on #5
Awesome! Can you add a new apk? I want to see your progress. :-)

[2019-03-09 15:52] petabyt commented on #5
I'm working on adding font sizes, so I'll build it once I'm done.

On Saturday, March 9, 2019, MasterOfTheTiger <notifications@github.com>
wrote:

[2019-03-09 17:45] MasterOfTheTiger commented on #3
@pufflegamerz Verse selection in NET is very broken.

[2019-03-09 17:47] petabyt commented on #3
It works for me. What book and chapter is it?

On Saturday, March 9, 2019, MasterOfTheTiger <notifications@github.com>
wrote:

[2019-03-09 17:47] petabyt commented on #3
Oh. I see it. The highlighting won't work.I'll investigate.

On Saturday, March 9, 2019, Petabyte Studios <brikbusters@gmail.com> wrote:

[2019-03-09 17:56] petabyt commented on #3
The API sends the text in some wierd format:
http://labs.bible.org/api/?passage=John%203&type=json&callback=myfunction

On Saturday, March 9, 2019, Petabyte Studios <brikbusters@gmail.com> wrote:

[2019-03-09 17:58] petabyt commented on #3
http://labs.bible.org/api/?passage=John%203&type=json&callback=myfunction&&formatting=full

On Saturday, March 9, 2019, Petabyte Studios <brikbusters@gmail.com> wrote:

[2019-03-09 19:27] MasterOfTheTiger commented on #3
@pufflegamerz  In addition, normal verse selection doent seem to be working consistently.

[2019-03-09 22:33] petabyt commented on #3
It should work in the latest apk.

[2019-03-09 22:38] petabyt commented on #3
For some reason, I uploaded an older apk file. It should work now.

[2019-03-10 12:29] MasterOfTheTiger commented on #3
The font size still does not work. It reads "NaN". I am able to change the Heb12 config file to a valid number to change this though.

Plus. Shouldn't the config file be in the Android assigned location for heb12? (Android/data/io.github.heb12.heb12mobile or something like that).that should fix the storage problem.

[2019-03-10 21:17] petabyt commented on #3
Hmmm. It works good on my phone. What version of Android are you using?

On Sunday, March 10, 2019, MasterOfTheTiger <notifications@github.com>
wrote:

[2019-03-11 07:07] MasterOfTheTiger commented on #3
5.0. But shouldn't that be irrelevent? Try deleting the app and the configuration file and try again.

[2019-03-11 07:14] MasterOfTheTiger opened #7 "Release v0.1.0"
Here is the timeline (you are the developer so you can change accordingly).

Feature freeze: March 30
UI freeze: April 15
Release: May 1

How does this sound? We stop working on features for v0.1.0 and accepting pull request features by the end of March. We do not change the UI after April 15. And we release May 1. Does that sound good?

[2019-03-11 10:10] #1 closed, assigned to nobody

[2019-03-11 10:10] #6 closed, assigned to petabyt

[2019-03-11 10:11] MasterOfTheTiger commented on #3
By the way Android 4.x doesn't work. It installs, but the app gets stuck at the loading part.

[2019-03-11 19:23] petabyt commented on #3
I'm pretty sure every version has a different webview version.

On Mon, Mar 11, 2019, 6:11 AM MasterOfTheTiger <notifications@github.com>
wrote:

[2019-03-11 19:24] petabyt commented on #3
There might be a way to update it though.

On Mon, Mar 11, 2019, 3:23 PM Petabyte Studios <brikbusters@gmail.com>
wrote:

[2019-03-12 00:41] petabyt commented on #7
Ok. I was thinking about releasing a little earlier, but this will do.

[2019-03-25 23:51] petabyt commented on #7
I just realized that you set the release of the app a day before its 1 year anniversary.

[2019-03-28 15:13] MasterOfTheTiger commented on #7
@pufflegamerz Oh wow. I knew it was close. Well, we are close to feature freeze. Is March 30th still good for that or do we need it post-poned?

[2019-03-28 20:58] petabyt commented on #7
Is there anything else that I should add? I was thinking about adding bookmarks.

[2019-03-29 22:44] petabyt opened #8 "Heb12 Mobile on iOS (Sorta)"
Really just a handy shortcut to the page.

![Heb12iOS](https://user-images.githubusercontent.com/32369330/55266298-49c1b580-524a-11e9-8bba-0405659a16c7.gif)

Video: https://drive.google.com/file/d/10dnwLMrk5RU7GajQb1swioK1d3W04aR_/view?usp=sharing

[2019-03-30 00:50] petabyt commented on #7
Should I add support for Spanish?

[2019-03-30 12:00] MasterOfTheTiger commented on #7
@pufflegamerz Yes, you should add bookmarks. In addition, adding support for other languages is a *huge* step which should be done early (I am working on getting Heb12 Desktop to support French at the moment, and it is a lot of work).

[2019-03-30 12:05] MasterOfTheTiger commented on #8
Sounds okay. As long as it works well that is. I do not want to make an iOS application in the Apple App Store though (since Heb12 is free software anyone could make a fork and put it on) because of their [outrageous SDK requirements](https://www.eff.org/deeplinks/2014/12/sorry-iphone-users-apples-dev-agreement-means-no-eff-mobile-app-iphone) and that it requires DRM. All of which are against the

[2019-03-30 14:23] petabyt commented on #8
Most of the people I know use iPhones, so I wanted to have a way for them to use it.

[2019-03-30 18:15] petabyt commented on #7
Added bookmarks. Sorry about the huge screenshots.
![Capture+_2019-03-30-14-13-45](https://user-images.githubusercontent.com/32369330/55280004-be99fb80-52ed-11e9-9feb-c63e16211718.png)
![Capture+_2019-03-30-14-13-34](https://user-images.githubusercontent.com/32369330/55280005-be99fb80-52ed-11e9-8f21-db46de4ab11c.png)

[2019-04-05 22:24] petabyt commented on #7
Could we release the app a little early if we don't get any pull requests?

[2019-04-06 06:45] MasterOfTheTiger commented on #7
Okay. I really want to help work with it. But that might not happen soon enough. There's a lot of work which needs to be done. But I think it looks good so far for the first version.

[2019-04-06 17:57] petabyt commented on #7
What should we add?

On Sat, Apr 6, 2019 at 1:45 AM MasterOfTheTiger <notifications@github.com>
wrote:

[2019-04-07 14:39] MasterOfTheTiger commented on #7
For one, soon I will build an openbibles API for both retrieving and downloading Bible translations. That will take a lot of work to implement, but it would surely be very useful.

[2019-04-08 15:39] petabyt commented on #7
Also, I've been trying to install a good Linux distro on my laptop. Any recommendations? I've already tried Ubuntu and Fedora.

[2019-04-08 17:06] MasterOfTheTiger commented on #7
@pufflegamerz Honestly here is not the best place to talk about it (since it's an issue tracker), but I recommend Antergos maybe.

Maybe contact me a different way (maybe theres.life since you are on that) for more info on that sort of thing.

[2019-04-22 16:53] MasterOfTheTiger commented on #7
How far now?

[2019-04-22 16:58] MasterOfTheTiger commented on #3
You need to make sure that it opens the last Bible translation used (if you haven't done that already).

[2019-04-22 18:50] petabyt commented on #3
I've tried making that work for hours, but I was never able to fix it.

[2019-04-23 17:37] MasterOfTheTiger commented on #3
Odd. Shouldn't it work the same as storing previously opened books and chapters? Either way, that is a pretty big deal as it is expected to work that way...

[2019-04-23 17:50] petabyt commented on #3
It gets stored in the config file, then when the app opens It goes to the default. I'll try my best to fix it.

[2019-04-23 17:57] MasterOfTheTiger commented on #3
Okay. Thanks! I am going to download Android Studio myself right now and see if I can help with something later.

[2019-05-01 16:25] MasterOfTheTiger commented on #7
I have a development version set up, but I can't run it in the emulator or on my tablet, even when installing all the right SDKs. It just won't show up.

[2019-05-01 18:59] petabyt commented on #7
The html file won't show up? Or is the app not installing?

[2019-05-01 19:00] petabyt commented on #7
I've been really busy with schoolwork so I haven't been able to work on it a lot. I'll try to work on it a little today and see if I can help with the issue.

[2019-05-01 19:50] MasterOfTheTiger commented on #7
The run button doesn't work. I had to just build the apk and manually move it over and install it for every change. I also have made progress on the translation bug.

[2019-05-02 00:02] petabyt commented on #7
I don't use the run button. I preview the html files in my browser
build the apk and send it to my device when I want to test the actual
app.

[2019-05-02 00:03] petabyt commented on #7
I think I just fixed the translation issue.

[2019-05-02 21:06] petabyt commented on #7
When are we planning on releasing the app?

[2019-05-03 15:06] MasterOfTheTiger commented on #7
build the apk and send it to my device when I want to test the actual
app.

Okay. Good to know.

I will check it out. I also made a few changes you might want to merge if you feel like it.

[2019-05-14 00:36] petabyt commented on #7
Sorry about my inactivity, I have been really busy lately. Do you think I should release the app to the Amazon Appstore?

[2019-05-14 13:22] MasterOfTheTiger commented on #7
Let's do one more extensive test of everything, and then tag and release 0.1.0. And delete the pre-release folder before tagging it.

[2019-05-22 22:38] petabyt commented on #7
Do you know of any bugs currently in the app? I think it might be good to go.

[2019-05-23 05:34] MasterOfTheTiger commented on #7
Go ahead. If you think it's good, do this:
1. Remove the pre-release folder
2. Tag the repo for v0.1.0
3. Add release description and upload the APK file as something like `Heb12-0.1.0.apk`
4. Work on publishing

[2019-05-23 05:35] MasterOfTheTiger commented on #7
With any bugs, we will just fix them in 0.1.1

[2019-05-23 23:25] petabyt commented on #7
Just submitted it to the Amazon Appstore. Should be up tomorrow.

[2019-05-24 05:14] MasterOfTheTiger commented on #7
Awesome! Thanks so much for this. I'll be on the lookout. Meanwhile, I have someone to put it on Google Play as well.

[2019-05-24 05:14] MasterOfTheTiger commented on #7
Awesome! Thanks so much for this. I'll be on the lookout. Meanwhile, I have someone to put it on Google Play as well.

[2019-05-24 05:14] MasterOfTheTiger commented on #7
Make sure the listed name is "Heb12 Bible" or something like that, so people know instantly what it is

[2019-05-24 06:12] MasterOfTheTiger commented on #3
Okay. I am closing this now since 0.1.0 is released. Open new issues for individual features from now on I guess.

[2019-05-24 06:12] #3 closed, assigned to nobody

[2019-05-24 06:12] MasterOfTheTiger commented on #7
I'll close this issue once it is fully available in the Amazon app store, and Google Play

[2019-05-24 19:28] ed6767 opened #10 "[SECURITY] Debug build submitted as release v0.1.0"
Release v0.1.0's APK is signed in **debug mode**. This leaves it vulnerable to security issues and therefore I cannot publish the app on the Google Play Store until it has been signed in **production** mode.
----
https://developer.android.com/studio/publish/preparing.html#publishing-configure

[2019-05-24 21:23] petabyt commented on #10
Would it be safe to send the APK through Github?

[2019-05-25 10:08] MasterOfTheTiger commented on #10
@pufflegamerz A new APK needs to be built which is signed without debug mode or something like that. Can you handle this?

[2019-05-25 12:48] MasterOfTheTiger commented on #8
Okay. This isn't important to keep open right now. So let's close it.

[2019-05-25 12:48] #8 closed, assigned to nobody

[2019-05-25 15:40] petabyt commented on #10
I've been sending @ed6767 some emails with APK's.

[2019-05-25 15:44] muhammadarif1 opened #12 "app got lag after change something"
**Describe the bug**
after change something in the app it always show
```javascript error on line 0: script error```
**To Reproduce**
Steps to reproduce the behavior:
1. open the app
2. search something and bookmark than change translation .'
3. See error

**Expected behavior**
after change some default thing this app will work as welll

**Screenshots**
[https://www.youtube.com/watch?v=v5o0uAjpUJM

[2019-05-25 15:55] MasterOfTheTiger commented on #12
@pufflegamerz I have noticed this as well.

[2019-05-25 17:09] petabyt commented on #12
I'm pretty sure this is an issue with the compatibility. Older Android versions don't support newer Html5 features.

[2019-05-25 21:38] muhammadarif1 commented on #12
This app support from android 5.0 and my android is 6.0,

[2019-05-26 00:02] petabyt commented on #12
Where did it say that? I'm pretty sure the app works on 7.0 and later.

[2019-05-26 00:44] muhammadarif1 commented on #12
Any Android device running Android 5.0 and later should be able to run Heb12 Mobile. I read it from readme file

[2019-05-26 01:26] petabyt commented on #12
Oh. Sorry, that must be old. I'll change it. I did make a version of Heb12 Mobile for older devices here https://github.com/pufflegamerz/Heb12MobileAi2. It's pretty limited though.

[2019-05-26 01:44] muhammadarif1 commented on #12
Are this a bug or not?

[2019-05-26 02:31] petabyt commented on #12
No, this is not a bug. Your device is not supported. I'm working on finding a way to support older devices though.

[2019-05-26 03:40] petabyt commented on #7
Also, we need a way to download translations within the app. I think we should make some kind of special API or something.

[2019-05-26 12:10] muhammadarif1 commented on #12
You can close the issue if this not a bug

[2019-05-26 15:22] MasterOfTheTiger commented on #7
@pufflegamerz Yes, I am working on this very thing for Heb12 Desktop v0.4.0. Someone has given me server space to do it as well. We can implement it into Heb12 Mobile v0.2.0 after Heb12 Desktop v0.4.0 is completed.

[2019-05-26 15:24] MasterOfTheTiger commented on #12
@pufflegamerz His device is 6.0 right? Then it should certainly be supported. You can't say it supports older versions of Android but not have it work....

I use Android 5.0 as well. So what needs to be changed to get it working?

[2019-05-26 15:26] petabyt commented on #12
@MasterOfTheTiger Does the app work on your device?

[2019-05-26 15:46] MasterOfTheTiger commented on #12
@pufflegamerz Generally yes, but I ran into some small errors which are similar to what this user is experiencing.

[2019-05-26 16:02] petabyt commented on #12
I'm going to see if I can figure out what the errors are.

[2019-05-26 18:41] muhammadarif1 commented on #12
Let me know when you verify that errors

[2019-05-26 19:07] pufflegamerz commented on #12
Try this APK. I replaced some functions with alternatives that most devices will support.
[app-debug.zip](https://github.com/heb12/heb12-mobile/files/3221015/app-debug.zip)

[2019-05-26 19:48] petabyt commented on #12
Try this APK. I replaced some functions with something that should work on more devices.
[app.zip](https://github.com/heb12/heb12-mobile/files/3221063/app.zip)

[2019-05-26 20:59] muhammadarif1 commented on #12
I am a bug hunter,  let me know when you verify this error

[2019-05-26 21:00] petabyt commented on #12
Does the APK in the ZIP file work?

[2019-05-26 21:44] muhammadarif1 commented on #12
This app freeze
[code]

[2019-05-26 21:47] muhammadarif1 commented on #12
This app freez after change something also

[2019-05-26 22:08] petabyt commented on #12
What did you do to cause the crash?

[2019-05-27 01:01] muhammadarif1 commented on #12
Change surah

[2019-05-27 01:05] petabyt commented on #12
What is a surah?

[2019-05-27 02:28] muhammadarif1 commented on #12
![Screenshot_2019-05-27-09-24-35-26](https://user-images.githubusercontent.com/36690337/58391841-8e5aa900-8061-11e9-82c2-cec3b16cd0bf.png)

[2019-05-27 02:56] petabyt commented on #12
Hmmm. Micah seems to be working fine on Android 6.0 for me.

[2019-05-27 03:18] muhammadarif1 commented on #12
Change to another

[2019-05-27 03:20] petabyt commented on #12
Another what?

[2019-05-27 03:59] MasterOfTheTiger commented on #12
There's a lot of unpredictable bugs in the switcher.

[2019-05-27 04:19] petabyt commented on #12
I'll investigate tomorrow. Here's a list of bugs that came up while I was changing everything.

- Bookmarking doesn't work on kindle

[2019-05-27 07:46] MasterOfTheTiger commented on #12
The NET problems could be resolved easier by looking at Heb12 Desktop's code. It supports all that.

[2019-05-30 18:13] MasterOfTheTiger commented on #7
It's in the Play store! https://play.google.com/store/apps/details?id=com.heb12.heb12

[2019-05-30 18:13] #7 closed, assigned to nobody

[2019-05-30 18:33] MasterOfTheTiger opened #13 "Simplify Release Process"
We need to revise the whole system to make it easier for releasing. We need to standardize the process and avoid problems. The release of v0.1.0 showed just how

Things which need to be done:
- [ ] A single, signed APK for all platforms
- [ ] **Make sure signatures are the same, and take care of them responsibly**
- More to be added

Here are everyone's roles:

@pufflegamerz is the head of Heb12 M

[2019-06-09 11:56] rugk opened #14 "F-Droid"
Please release it on F-Droid and add an F-Droid badge on the website.

---

[F-Droid](https://f-droid.org/) is an Android app store specifically for free/libre open-source apps. It would be great if your app could be released there, as it is the number one for getting FLOSS Android apps for many people.
F-Droid also builds all apps from source ([optionally even reproducible](https://f-droid.org/en

[2019-06-11 15:09] petabyt commented on #14
I was thinking @MasterOfTheTiger would do that.

[2019-06-11 17:03] rugk commented on #14
remove the space after the add to mention @MasterOfTheTiger

[2019-06-12 17:08] MasterOfTheTiger commented on #14
I have been reading the docs (even before this issue) to see what it would require to get it on F-Droid. :-)

[2019-07-12 18:08] petabyt opened #15 "Add Downloadable Translations"
I would like to get started with the downloadable translation feature. I am thinking about just getting the files from https://gitlab.com/MasterOfTheTiger/openbibles but @MasterOfTheTiger if you want to create an API that would be better.

[2019-07-13 07:23] MasterOfTheTiger commented on #15
We also need an API endpoint where the application can ask what versions are available.

[2019-07-14 06:06] #10 closed, assigned to nobody

[2019-07-14 06:08] petabyt commented on #14
@MasterOfTheTiger I'm pretty sure the F-Droid requirements match up with the app. I can upload the app if this week.

[2019-07-14 13:50] MasterOfTheTiger commented on #14
@pufflegamerz I am going to start it myself first. Do you mind? I am going to start now.

[2019-07-14 13:54] MasterOfTheTiger commented on #14
Well, if you can do it, that would be great. I may not be able to at the moment.

[2019-07-16 21:16] petabyt commented on #14
I've submitted it https://gitlab.com/fdroid/rfp/issues/1040

[2019-07-17 02:55] petabyt commented on #15
I am making it so that when the user downloads a translation, it will be put in a folder called "translations"

[2019-07-31 18:19] hotlittlewhitedog commented on #14
@pufflegamerz please react on your Fdroid RFP.

[2019-08-09 04:23] petabyt opened #16 "Release v0.2.0"
This next release will have the downloadable translations that I added earlier. I will also fix the existing bugs and try to improve the app's performance a little bit.

[2019-08-09 09:15] MasterOfTheTiger commented on #16
Does that mean that I need to prioritize work on some kind of API? Because that will take a while. I would just advise you revising your tools to work directly with gratis.bible.

[2019-08-09 16:00] petabyt commented on #16
I use this thing I forked: https://github.com/pufflegamerz/openbibles. I'm not saying I'm working on releasing it right now, but I'm just writing down my plans. Also, what is gratis.bible? Is it an API? Heb12 Mobile would have to use an API that supports JSONP.

[2019-08-10 13:45] MasterOfTheTiger commented on #16
@pufflegamerz gratis.bible is where I got all of the existing openbibles text. I made a couple modifications to our version, but if you modify your processing code, you can use it directly from there.

I may want to depreciate the current openbibles in the future, and instead use gratis.bible and sword modules. That reminds me, you may want to consider implementing the Sword library into Heb12 Mob

[2019-08-10 15:50] petabyt commented on #16
I also have another problem, when you download more than 5 translations, the app won't start (probably crashes). I'm gonna have to fix that first.

[2019-08-10 19:56] petabyt opened #17 "Can't return translation string larger than 15MB"
**Describe the bug**
When the app starts, it requests to get every translation in 1 string. This can be very big (30mb). For some reason, the app crashes and won't load. I get error: Uncaught Error: Java exception was raised during method invocation
**To Reproduce**
Steps to reproduce the behavior:
1. Download more than 3 translations
2. See error

**Expected behavior**
The app should load fine

*

[2019-08-11 13:57] MasterOfTheTiger commented on #17
This seems like we need to have it only request a translation when the user selects it, and replaced when a new one is selected. It can load it fairly quickly anyway right?

[2019-08-11 14:26] petabyt commented on #17
Oh yeah. I have no idea why I didn't think of that. I'll try it later.

[2019-08-14 15:01] petabyt commented on #16
@MasterOfTheTiger Did you get the text from this repo: https://github.com/gratis-bible/bible and convert it to JSON?

[2019-08-14 16:06] MasterOfTheTiger commented on #16
Yes. That is exactly what I did. I also made a couple other changes which I later found was not necessary.

[2019-08-18 03:06] petabyt opened #18 "Decluttering the Sidebar"
The sidebar has a bunch of stuff, and a lot of it is unnecessary. I've made a test image for how it could look
![Capture+_2019-08-17-23-01-10](https://user-images.githubusercontent.com/32369330/63219615-36e94800-c13b-11e9-8fad-35281b39079a.png)
I like the idea of sticking the VOTD to the bottom, but the stuff on the top looks a little weird. Any ideas?

[2019-08-18 12:13] MasterOfTheTiger commented on #18
Maybe make a new translation switcher, and put it next to the chapter switcher. Instead of using a `<select>` box, you may want to actually make a better popup menu for it.

[2019-08-18 15:14] #15 closed, assigned to nobody

[2019-08-18 15:14] #17 closed, assigned to nobody

[2019-08-18 16:28] MasterOfTheTiger commented on #17
Can you link to the commit in which this was fixed?

[2019-08-18 16:30] petabyt commented on #17
@MasterOfTheTiger I'm pretty sure it is this: https://github.com/heb12/heb12-mobile/commit/bc6c2bd9992a58074fe84c8f90d6e65e268ecb97

[2019-08-20 02:02] petabyt commented on #18
This is a pretty big issue since there is so much text that the sidebar animation lags some. I have made a Google Drawing with some better ideas https://docs.google.com/drawings/d/1B5WcMrP_BaHlAwgMtwTJX0C5Lmn13orCJCddCOVkBDQ/edit?usp=sharing

[2019-08-20 08:54] MasterOfTheTiger commented on #18
@pufflegamerz Can you include the file here? I can't see the drawing through Google drawings.

[2019-08-20 19:13] petabyt commented on #18
![Screenshot (481)](https://user-images.githubusercontent.com/32369330/63376985-a8e8a980-c354-11e9-9c8c-39f2b7eebd80.png)

[2019-08-21 10:56] MasterOfTheTiger commented on #18
It looks better, but the "Change translation" button isn't very useful as it doesn't show any info by itself. Honestly I'd even prefer the current translation select menu over this button.

[2019-08-21 20:45] petabyt commented on #18
Here is an updated image
![Screenshot (483)](https://user-images.githubusercontent.com/32369330/63466826-b6bc2e80-c429-11e9-8147-636058673221.png)
I'm not sure if It would be all that necessary to make popup for selecting translations. It also couldn't make a description for every translation, since there are about 40+ of them on my server.

[2019-08-22 06:18] MasterOfTheTiger commented on #18
Well we'll just have to improve the API then. But do not worry about that now. I'll work on it when I have time to work on my rebuilding of Heb12 desktop again.

[2019-08-22 21:00] petabyt commented on #18
Didn't you mention you were rewriting it in Python or something? Also, I'm working on a side project, Heb12DOS (Heb12 for MS-DOS)

[2019-08-22 21:16] MasterOfTheTiger commented on #18
Yep. That's what I am doing.

[2019-09-19 12:55] MasterOfTheTiger opened #19 "[Feature request] Custom Highlight Colors"
I believe it would be a good idea to allow for custom colors im the highlight menu. That way anyone can add any color they want.

It should probably use a color picker, but earlier versions could use use HTML code as input.

We shouldn't throw in unecessary dependancies though.

[2019-09-21 18:29] Poussinou commented on #14
Your app is now available [here](https://f-droid.org/packages/com.heb12.heb12/). you can add a badge in your readme with this image: https://fdroid.gitlab.io/artwork/badge/get-it-on.png

[2019-09-23 11:43] zachdecook opened #20 "Allow different search engines to be used"
Not just google.nl

[2019-09-23 15:01] MasterOfTheTiger commented on #20
I forgot about this.

@pufflegamerz If you can, please enable some kind of changing search options, or put it on BibleHub or something like that. Eventually I hope for us to have our own Heb12 website with a web app you could link to until then we need to improve the existing search feature..

[2019-09-24 20:02] petabyt commented on #20
I guess I can create an option for Google/DuckDuckGo/etc.

[2019-09-24 20:03] petabyt commented on #19
I definitely think this is something I should do when I improve the configuration file setup.

[2019-10-15 21:13] petabyt commented on #20
Fixed in https://github.com/heb12/heb12-mobile/commit/7728247c1bd4c703c88638392810a975a8f0a1ee

[2019-10-15 21:13] #20 closed, assigned to nobody

[2019-10-31 15:49] MasterOfTheTiger commented on #14
Thanks everyone for your efforts. This issue has now been resolved and the banner is in the README.

[2019-10-31 15:49] #14 closed, assigned to nobody

[2019-12-13 07:59] MasterOfTheTiger commented on #16
How is the next release coming along? You have made enough changes that I think a v0.2.0 is a good idea. What do you think?

[2019-12-13 21:33] petabyt commented on #16
@MasterOfTheTiger I was hoping to release it soon. After some more testing, I think it will be ready.

[2019-12-13 23:03] MasterOfTheTiger commented on #16
So does it support downloading more translations from your server? And does it come with any translations by default?

Also, in an old version at least, it randomly resets to Genesis 1 upon restart, but only the text, not the drop down.

In addition, after this, let's move to a more rapid release cycle.

[2019-12-13 23:24] MasterOfTheTiger opened #23 "Redesign CSS"
I think the whole app needs a redesign to make it look more "fresh" and modern. I was thinking that we could maybe implement some of the CSS I designed for Heb12 Desktop into Heb12 Mobile since I specifically wanted it to be scalable. Specifically I would prefer simpler and less spacious arrow buttons, and a cleaner color scheme (white with shadows works). Ignore me if you want, but I really liked

[2019-12-13 23:25] MasterOfTheTiger commented on #23
Note: if you give this a go, I will work on it.

[2019-12-13 23:25] petabyt commented on #16
I removed 2 of the translations, so the whole app was based off of Openbibles.
I'll upload a recent apk for you to test out.

[2019-12-13 23:28] petabyt commented on #23
I always loved the main UI style, I never thought of changing it.

[2019-12-13 23:30] petabyt commented on #16
Here: https://github.com/heb12/heb12-mobile/releases/tag/0.1.1

[2019-12-14 07:14] MasterOfTheTiger commented on #23
Okay. That's fine. I'd still like to give it a go to see how you like it. No pressure to merge though.

[2019-12-14 15:36] petabyt commented on #23
You can always add a different theme though.

[2019-12-14 16:55] MasterOfTheTiger commented on #23
Let me do a couple changes in another branch and you can say what you think. Mostly I find the "previous" and "next" buttons too spacious (since arrow buttons don't need to take a whole row at the bottom of the screen).

[2019-12-19 20:00] petabyt commented on #16
@MasterOfTheTiger  Is code.theres.life down? I can't access theres.life either.

[2019-12-19 20:44] MasterOfTheTiger commented on #16
I am so sorry. There has been some issues and both servers went down. I will have this fixed ASAP.

[2019-12-19 21:19] petabyt commented on #16
It isn't that big of a deal. I assumed I would see something on about.theres.life.

[2019-12-26 18:30] petabyt opened #24 "New config file layout"
Old:
[code]

New:
[code]

Old non-JSON config file layout
[code]

[2019-12-26 19:21] MasterOfTheTiger commented on #24
Okay. Is there also a way to store it in a specific folder for Heb12? I mean, other Android apps have their old folder under Android/data, couldn't Heb12 do the same?

[2019-12-26 19:31] petabyt commented on #24
When I added the config file, I didn't think I was going to add downloadable translations. It currently looks like this:
[code]

It should probably look like this:
[code]

If I were to move it, I would have to write a script to detect a /Heb12 directory, and then somehow rearrange the files.

[2019-12-27 06:38] MasterOfTheTiger commented on #24
You should move the config to a standard directory. https://android.stackexchange.com/questions/47924/where-android-apps-store-data

The translations can easily be put under root/heb12. That way users can easily have access to them.

[2019-12-27 22:04] MasterOfTheTiger opened #25 "Clarify GPL"
Clarify the license by stating that this software is licensed under the GPL version 3 or later in the README. Also, the F-Droid metadata needs to be changed for "3 or later" as well.

It would be best to put a license notice in all main source files (as mentioned in the GPL text), but the README itself is vital.

[2019-12-27 22:23] petabyt commented on #25
I can easily put a license notice on the README, but I think putting in the source code files is a bit excessive.

[2019-12-30 02:59] petabyt commented on #24
After I make a script to move the translations folder and Heb12config to /heb12, we can review all the changes and make sure it is ready for the next release.

[2020-01-02 16:27] AmazingMech2418 opened #26 "Common Issues with WebView - May Need Standalone"
I've tried using WebView in the past and know it will not work properly on all devices due to the inability to read certain CSS properties. It may be best to create a standalone version using basic Android XMLHTTP requests and using a textview object to store the Bible verses instead of a div in a web app. Making it work in a standalone version may also allow an offline version as well.

[2020-01-02 17:10] petabyt commented on #26
I have tried a few times to make the app without a WebView, but it's just too difficult. It was much easier to use something I already am very familiar with than to spend a few years trying to learn how to make classic Android Apps.

Making it in HTML/CSS/JS also had some benefits, like being able to use the app without installing it. (v.ht/heb12)

I have tested the app on many different versions

[2020-01-03 06:28] MasterOfTheTiger commented on #26
This program simply is a webview loader for HTML, CSS, and JavaScript which is also downloaded onto the device. It is not native as it could be, but it works pretty well.

I would like to learn Java/Kotlin as well, but I don't have the time to learn a completely different programming language at the moment.

[2020-01-04 19:48] AmazingMech2418 commented on #26
@pufflegamerz I was talking about issues I've experienced in the past that may arise here during updates of this app. These issues were specifically the WebView being unable to read certain CSS properties including the display property.

[2020-01-04 20:58] petabyt commented on #26
I've tested it on old Android Versions, and the display property works fine.

[2020-01-04 21:58] #25 closed, assigned to nobody

[2020-01-04 21:59] MasterOfTheTiger commented on #19
Is this still planned?

[2020-01-05 14:08] petabyt commented on #19
@MasterOfTheTiger Yes. I hope to add it before the next release. It shouldn't be too hard.

[2020-01-05 14:11] petabyt commented on #24
I'm just making a task list to help myself
- [ ] Write script to move configuration file and translations folder into /heb12
- [ ] Custom highlighting colors
- [ ] Fix some bugs
- [ ] App doesn't work on first time use

[2020-01-05 14:32] MasterOfTheTiger commented on #19
For it to be useful generally, you would also have to have some kind of picker. But I don't think that is entirely necessary at the moment.

[2020-01-05 14:33] MasterOfTheTiger commented on #12
Just doing some housekeeping. Is this issue still relevant?

[2020-01-05 14:34] MasterOfTheTiger commented on #13
@pufflegamerz As we are going to probably release soon, we should make sure that we have everything figured out. Have you got the signed APKs all sorted out?

[2020-01-05 14:38] petabyt commented on #19
@MasterOfTheTiger I wonder if the HTML color picker will work here.

[2020-01-05 14:40] MasterOfTheTiger commented on #16
Okay. Let's come up with a schedule. Also, I think it should be 0.2.0 because of the amount of features added.

I think we should aim for January 31st at the latest. Thus making it:
Feature freeze:
January 15th - stop working on any new features after this
Then it can be extensively tested for bugs and fixed until the 31st, when we release. During that time we must also make sure everyone involved

[2020-01-05 14:47] petabyt commented on #12
I think this is fixed, but there are still some similar issues I need to fix.

[2020-01-05 14:51] petabyt commented on #16
@MasterOfTheTiger Sounds good

[2020-01-05 18:47] petabyt commented on #19
The HTML color input does work. It's not the best, but I think it will do.
![Capture+_2020-01-05-13-46-41](https://user-images.githubusercontent.com/32369330/71784495-0c047100-2fc2-11ea-8c55-df405c97161c.png)

[2020-01-05 21:23] MasterOfTheTiger commented on #16
Here is a draft of the release notes (a final version will have to be written upon the real release, but this gives us an idea of what has been done so far):

### Added
- Downloadable translations
- Finished Spanish translation
- German translation (childofgod@theres.life)
- Custom search engines
- Custom highlighting colors

### Changed
- Config file layout

### Fixed
- Bookmarking
- Other crashe

[2020-01-11 16:29] petabyt commented on #24
@MasterOfTheTiger I read on Stack Overflow that a folder in /data/data on the Android device would allow for app data to be put there, and be automatically deleted during uninstall. I though this would be better, but you wouldn't have the freedom to manually modify the app files.

[2020-01-11 17:04] MasterOfTheTiger commented on #24
Here is an idea: store the config there. But put the downloaded translations in an Heb12 folder in the user accessible directory.

[2020-01-11 21:56] petabyt commented on #24
I personally like to have the config file there, just in case something goes wrong, I can go in and change it. It also gives users the ability to share their config files with others, and make backups.

[2020-01-13 14:24] petabyt commented on #16
Will changing the location of the translation and configuration files count as adding a feature? I have a ton of tests and crap this week (including the FitnessGram Pacer Test) so I probably won't be able to work on it.
Should it go in release v0.3.0? It's not a huge deal, it won't have any effect on the user.

[2020-01-13 14:49] MasterOfTheTiger commented on #16
This is an important change and should make the v0.2.0 release. These are just guidelines anyway, not bindling laws. (but no, I would not categorize it as a "feature" strictly anyway)

[2020-01-13 17:38] petabyt commented on #16
Ok. I guess I need to write some Java to do that, then fix some more configuration file bugs, and an issue with the welcome message.

[2020-01-20 02:58] petabyt commented on #13
@MasterOfTheTiger Sorry, I didn't see this until now. One of the issues with the last release is that they were released at different times, so each apk had different changes.

This time I will have all the files ready, then start working on releasing them to stores, one at a time. It might even be better if I have a release branch.

[2020-01-20 07:21] MasterOfTheTiger commented on #13
Just tag the repo at v0.2.0 when it is ready, then build all the APKs off of that.

[2020-02-24 21:42] mondlicht-und-sterne opened #27 "Translations"
there are several translation tools.
[weblate](https://hosted.weblate.org/)
[crowdin](https://crowdin.com/)
[poeditor](https://poeditor.com/)
[transifex](https://www.transifex.com/)

it would be easier than at github
I'm writing down my experiences here. But you have to decide what you want.
if you take value on opensource, you can use #weblate. otherwise i hang out a lot on #crowdin and #poeditor

[2020-02-25 07:09] MasterOfTheTiger commented on #27
Sounds like a good idea.

[2020-05-25 02:26] #19 closed, assigned to nobody

[2020-05-25 02:26] #18 closed, assigned to nobody

[2020-05-25 02:27] #23 closed, assigned to nobody

[2020-05-25 02:27] #16 closed, assigned to nobody

[2020-05-25 02:27] #24 closed, assigned to nobody

[2020-05-25 02:28] #13 closed, assigned to nobody

[2020-05-25 02:28] #12 closed, assigned to nobody

[2020-05-25 02:37] petabyt commented on #26
@amazinigmech2418 I know this is closed, but we are actually working on a new rewrite in Golang.

It should work natively, as you requested.

[2020-05-25 19:18] AmazingMech2418 commented on #26
Okay. I was thinking more of native as in Java or Kotlin, but I guess Go would work. However, Go is one of the languages I do not yet know, so I don't think I would be much of a help with that one.

[2020-05-25 19:37] MasterOfTheTiger commented on #26
Learn Go. It is simple. Also, Kotlin/Java is not easily portable as we'd like. And there are some good libraries for cross platform Go apps. Plus Go is nice to work with most of the time. It is simple, unlike many alternatives. But it is also fast, and we can reuse code on all platforms, plus server.

[2020-05-26 22:59] petabyt commented on #26
I think there are some other areas @amazinigmech2418
can help out in that are not written in Go.

Go is not easy. It takes a while to get used to.

[2020-05-26 23:03] petabyt commented on #26
@amazinigmech2418 We have some web-based projects I am working on if you would like to help out on. And thanks for your contributions here.

[2020-05-27 22:40] AmazingMech2418 commented on #26
@pufflegamerz So, what are the web-based projects? Also, anything Node or Python I should be able to help with.

[2020-05-27 22:41] AmazingMech2418 commented on #26
@MasterOfTheTiger I'm actually planning on learning Go soon. I just need to learn it still.

[2020-05-28 02:56] petabyt commented on #26
One is http://api.heb12.com/www/
GithubFan also wanted to help out on that.

[2020-05-28 12:42] AmazingMech2418 commented on #26
@pufflegamerz So, what is the repo?

[2020-05-28 16:26] petabyt commented on #26
https://code.heb12.com/heb12/www
It is not on Github.

[2020-06-02 21:40] AmazingMech2418 commented on #26
@pufflegamerz How do I edit it since it isn't on GitHub?

[2020-06-02 22:17] petabyt commented on #26
You probably will have to make an account there. I could mirror it on Github, but that I'm not sure how that would work.

[2020-06-02 22:20] petabyt commented on #26
I will consider adding Github sign in to our code site. That would be helpful.

[2020-06-15 16:08] AmazingMech2418 commented on #26
@pufflegamerz Could you add a GitHub sign in? By the way, I know Go now. I still have to learn string manipulation and stuff, but I know the overall syntax.

[2020-06-15 18:57] petabyt commented on #26
@amazinigmech2418 That won't be easy. Could not find any documentation on how to add Github sign in.

[2020-06-15 21:28] AmazingMech2418 commented on #26
@pufflegamerz https://developer.github.com/v3/guides/basics-of-authentication/ https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/ Maybe that could help?

[2020-06-16 05:36] MasterOfTheTiger commented on #26
Maybe. But we can't dig deep into the Gitea source code. Gitea has OAuth, but we couldn't get it working for some reason.

[2020-06-16 05:52] petabyt commented on #26
OpenID looks good, I would just make an account on that.

[2020-06-17 16:10] AmazingMech2418 commented on #26
@pufflegamerz @MasterOfTheTiger I just signed up. Though, it seems like I still have to be added to the Heb12 organization there.

[2020-06-17 20:30] MasterOfTheTiger commented on #26
Yep. I just invited you.